<li [class.completed]="todo.completed"
    [class.editing]="editing">
  <div class="view">
    <input class="toggle"
      [formControl]="checkFormControl"
      type="checkbox">
    <label (dblclick)="editTodo()">{{todo.text}}</label>
    <button class="destroy" (click)="removeTodo()"></button>
  </div>
  <input class="edit"
    type="text"
    [formControl]="descriptionFormControl"
    (blur)="finishEditing()"
    #editInput>
</li>
